.area-juego {
    
    position: absolute;
    top:  10%;
    left: 10%;
    width: 900px;
    height: 80%;
    background-color: grey;
}
.area-verde {

    float: left;
    width: 50%;
    height: 50%;
    background-color: green;
}
.area-rojo {
    position:relative;
    float: left;
    width: 50%;
    height: 50%;
    background-color: red;
}

.area-amarillo {


    float:  left;
    width: 50%;
    height: 50%;
    background-color: yellow;
}
.area-azul {


    float: left;
    width: 50%;
    height: 50%;
    background-color: blue;
}

footer {

}